/* Style snackbar */

.form {
    max-width: 400px; 
    margin: 50px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

/* Стилізація міток та полів вводу */

.form label {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 10px;
}
  
.form input[type="number"] {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    box-sizing: border-box;
}

/* Стилізація групи radio кнопок */

fieldset {
    width: 362px;
    display: flex;
    margin-bottom: 10px;
}
  
fieldset label {
    margin-right: 20px;
    margin-left: 20px;
}

legend {
    display: block;
    text-align: left;
}

input {
    margin-right: 10px;
    text-align: center;
}

/* Стилізація кнопки */

button {
    display: block;
    width: 100%;
    padding: 10px;
    background: #4e75ff;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    font-size: 16px;
}
  
button:hover {
    background: #6c8cff;
}